 <!--nav-bar-->
        <nav class="ui three item fixed menu">
            <div class="ui container">
                <a href="/blogs" class="item"><i class="paw icon"></i> Home</a>
                <a href="/blogs/new" class="item"><i class="edit icon"></i> New Post</a>
                <a id="user" class="item"><i class="user icon"></i> Account</a>
            </div>
        </nav>