<% include partials/header %>
     <!--nav-bar-->
      <nav class="ui three item fixed menu">
          <div class="ui container">
              <a href="/blogs" class="item"><i class="paw icon"></i> Home</a>
              <a href="/blogs/new" id="active-item" class="item"><i class="edit icon"></i> New Post</a>
              <a id="user" class="item"><i class="user icon"></i> Account</a>
          </div>
      </nav>
  
      <header class="ui huge header" ><h1>Show Some Dog-Love Amigo!!!</h1></header>
     
      <main class="ui raised container segment">
          <div class="ui large header">Add a New Post!</div>
          <form action="/blogs" method="POST" class="ui form">
            <div class="field">
              <label for="title">Title</label>
              <input type="text" id="title" name="blog[title]" placeholder="Hey! Meet Charlie..." required>
            </div>
            <div class="field">
              <label for="image">Image Link</label>
              <input type="text" id="image" name="blog[image]" placeholder="http://image.com" required>
            </div>
            <div class="body">
              <label for="body">Body</label>
              <textarea id="body" name="blog[body]" required>I love this dog!</textarea>
            </div>
            <!--Submit button-->
            <button class="ui labeled button" tabindex="0">
              <button class="ui red button">
                <i class="heart icon"></i> Submit
              </button>
              <a class="ui basic blue left pointing label">
                Woof!
              </a>
            </button>
          </form>
      </main>

<% include partials/footer.ejs %>