#active-item{
    background: #eef1fd;
}

.container.segment{
    width: 60%;
}

/*index page*/
.ui.huge.header{
    text-align: center;
    margin-top: 2.5em;
}

/*show page*/
main.ui.raised.container.segment{
    margin-top: 3em;
}

/*new page*/
.formButtons{
    display: flex;
    padding-top: 3px;
}
